body {
	background-color: gray;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width
	15%;
}

a:link {
  text-decoration: none;
  color: #ff6600;
}

a:visited {
  color: gold;
}

a:hover {
  color: hotpink;
  text-decoration: underline
}

hr {
	display: block;
	height: 1px;
	border: 0px;
	border-top: 3px solid #ff6600;
	margin: 1em 0;
	padding: 0;
}

p,h1,li,h4 {
	color: #ff6600;
	font-family: arial
}

h4{
  text-decoration: underline;
}




